{{define "base"}}
<!doctype html>
<html lang='eng'>
    <head>
        <meta charset='utf8'>
        <title>{{template "title" .}} - PnG</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Paste'n Go</a></h1>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <section>
            {{template "body" .}}
        </section>
    </body>
</html>
{{end}}
